# 8 (1.2) Christmas Cards, System Admin

In [7]:
import pandas as pd

In [4]:
df = pd.read_csv(r'1_2_christmas_cards.csv', delimiter = ', ', engine = 'python')
df

   -   6  10   4   1   9   2  9.1   7   -
0  -   -   8   7   4   3   5    5  12   5
1  -  11   -  16  12  11  10    5  20  15
2  -   7  13   -   3  10   5   11   4   5
3  -   4  10   3   -   8   2    8   7   5
4  -   3   8  11   8   -   8    4  15   7
5  -   5   8   6   2   8   -    7  10   7
6  -   6   4  13  10   6   8    -  17  11
7  -  10  16   3   6  14   8   15   -   8
8  -   -   -   -   -   -   -    -   -   -

The data is slightly off comparing to the table on the challenge page, so we need to make it look right before we can start solving the challenge.

In [6]:
df = pd.read_csv(r'1_2_christmas_cards.csv', delimiter = ', ', engine = 'python')
row_1 = [num for num in df.columns]
row_1[7] = 9

df.columns = ['work', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'home']

df.loc[-1] = row_1
df.index = df.index + 1
df = df.sort_index()
df['start'] = ['work', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'home']
df = df.set_index('start')

df = df.drop(['home'], axis = 0)
df

      work   a   b   c   d   e   f   g   h home
start
work     -   6  10   4   1   9   2   9   7    -
a        -   -   8   7   4   3   5   5  12    5
b        -  11   -  16  12  11  10   5  20   15
c        -   7  13   -   3  10   5  11   4    5
d        -   4  10   3   -   8   2   8   7    5
e        -   3   8  11   8   -   8   4  15    7
f        -   5   8   6   2   8   -   7  10    7
g        -   6   4  13  10   6   8   -  17   11
h        -  10  16   3   6  14   8  15   -    8

This is what it is supposed to look like. Way better!

In [8]:
from itertools import permutations

In [9]:
lst = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

min_length = 100
optimal_symbols = 'abcdefgh'
# for every possible combination of friends lets calculate the length of the route and print the shortest
for combination in permutations(lst, 8):
    length = 0
#     combination variable is a list and I need it to be a string
    combination = ''.join(combination)
#     go from 0 to 7 and sum the distance between friends
    for i in range(len(combination)):
#         if this is the 1st friend in the string (0th to be precise) let's get the distance from work to the friend
        if i == 0:
            length += int(df[combination[i]].loc['work']) 
#         otherwise lets get the distance from previous friend to the current friend
        else:
            length += int(df[combination[i]].loc[combination[i - 1]])
#     after the loop lets add the distance from last friend to home
    length += int(df['home'].loc[combination[-1]])
#     if current combination gives us the shortest route yet, let's store it as the optimal
    if length < min_length:
        min_length = length
        optimal_symbols = combination
        
print(f'optimal route is {optimal_symbols}')

optimal route is hcdfbgea