# 14 (2_2) Christmas Shopping, System Admin

In [15]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv(r'2_2_christmas_shopping.csv', delimiter = ', ', engine = 'python')
df

    -   7  22  18  16  20 18.1  19  10 22.1   3   -
0   -   -   -  18  14  20   14  12   5   16   5  25
1   -   -   -  19  14  20   12   3  10    6  17  10
2   -  19  23   -   -   2    8  23  14   17  15  25
3   -  15  17   -   -   6    2  17   9   11  12  20
4   -  21  23   2   7   -    -  24  16   17  17  24
5   -  14  14   7   2   -    -  14   8    8  13  17
6   -  10   3  20  14  21   13   -   -    8  15  13
7   -   5  12  13   9  15    8   -   -   11   6  20
8   -  15   7  14   9  14    7   8  10    -   -   9
9   -   7  20  14  13  17   14  18   8    -   -  28
10  -   -   -   -   -   -    -   -   -    -   -   -

In [12]:
df = pd.read_csv(r'2_2_christmas_shopping.csv', delimiter = ', ', engine = 'python')

row_1 = [num for num in df.columns]
row_1[9] = 22
row_1[6] = 18

df.columns = ['work', 's1', 's2', 'p1', 'p2', 'h1', 'h2', 'd1', 'd2', 't1', 't2', 'home']

df.loc[-1] = row_1
df.index = df.index + 1
df = df.sort_index()

df['start'] = ['work', 's1', 's2', 'p1', 'p2', 'h1', 'h2', 'd1', 'd2', 't1', 't2', 'home']
df = df.set_index('start')

df.drop('home', axis = 0, inplace = True)
df

      work  s1  s2  p1  p2  h1  h2  d1  d2  t1  t2 home
start
work     -   7  22  18  16  20  18  19  10  22   3    -
s1       -   -   -  18  14  20  14  12   5  16   5   25
s2       -   -   -  19  14  20  12   3  10   6  17   10
p1       -  19  23   -   -   2   8  23  14  17  15   25
p2       -  15  17   -   -   6   2  17   9  11  12   20
h1       -  21  23   2   7   -   -  24  16  17  17   24
h2       -  14  14   7   2   -   -  14   8   8  13   17
d1       -  10   3  20  14  21  13   -   -   8  15   13
d2       -   5  12  13   9  15   8   -   -  11   6   20
t1       -  15   7  14   9  14   7   8  10   -   -    9
t2       -   7  20  14  13  17  14  18   8   -   -   28

In [13]:
from itertools import product, permutations

In [17]:
combinations = ['s', 'p', 'h', 'd', 't']
lst_1 = ['s1', 'p1', 'h1', 'd1', 't1', 'home']
lst_2 = ['s2', 'p2', 'h2', 'd2', 't2', 'home']
min_length = np.inf
optimal_symbols = 's1p1h1d1t1'
for combination in permutations(combinations, 5):

    combination = list(combination)

    for option in product(['1', '2'], repeat = 5):
        option = ''.join(option)

        route = ['', '', '', '', '']
        for i in range(5):
            if option[i] == '1':
                route[i] = lst_1[combinations.index(combination[i])]
                
            elif option[i] == '2':
                route[i] = lst_2[combinations.index(combination[i])]        
                 
        length = 0
        for i in range(len(route)):
            if i == 0:
                length += int(df[route[i]].loc['work'])
            else:
                length += int(df[route[i]].loc[route[i - 1]])
        length += int(df['home'].loc[route[-1]])
        if length < min_length:
            min_length = length
            str = ''
            for symbol in route:
                str += symbol
            optimal_symbols = str

print(f'{optimal_symbols} - {min_length}')

s1d2p2h2t1 - 40